<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common-head}}
  </head>
  <body>
    <header>
      <h1>Bot Army Cookbook</h1>
      <h2>Tips, Tricks, and Recipes for Building Effective Bots</h2>
    </header>

    {{{ contents }}}

    {{#each collections.recipes}}
    <h4>
      <a href="/{{ path }}">{{ title }}</a>
    </h4>
    {{/each}}

    <p>
      Don't see your question? Add an <a href="https://git.corp.adobe.com/manticore/bot_army_cookbook/issues">issue</a>.
    </p>

    <footer>
      {{>common-footer}}
    </footer>
  </body>
</html>
