<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common-head}}
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <h1>{{ title }}</h1>
    </header>

    {{{ contents }}}

    <footer>
      {{>common-footer}}
    </footer>
  </body>
</html>
