  {{> common-head}}
      <a class="inline-block mb-2 no-underline text-gray-500 hover:text-steelblue" href="/">&larr; Bot Army Cookbook</a>
      {{#if collection}}
      <h1>How do I...  {{ title }}?</h1>
      {{else}}
      <h1>{{ title }}</h1>
      {{/if}}
    </header>

    {{{ contents }}}

    {{>common-footer}}
