<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common-head}}
  </head>
  <body>
    <header>
      <a href="/">&larr; Bot Army Cookbook</a>
      <h1>How do I...  {{ title }}?</h1>
    </header>

    {{{ contents }}}

    <footer>
      {{>common-footer}}
    </footer>
  </body>
</html>
