@tailwind base;

h1 {
  @apply mb-2 py-4 font-display text-6xl italic font-bold text-steelblue text-shadow-lg leading-none;
  @apply border-steelblue border-t-4 border-b-4;
}
h2 {
  @apply mb-1 font-display text-2xl font-bold text-gray-600;
}
h3 {
  @apply mb-1 font-display text-3xl italic font-bold text-steelblue text-shadow;
}
h4 {
  @apply mb-1 font-bold text-gray-600;
}
a {
  @apply text-blue-600 no-underline font-semibold;
}

a:hover {
  @apply underline;
}

li {
  @apply list-disc list-inside;
}

ol > li {
  @apply list-decimal mb-2;
}

p,
ul,
ol {
  @apply mb-2;
}

blockquote {
  @apply px-4 py-3 my-4 bg-gray-100 border-2 border-gray-300 rounded-lg;
}

code {
  @apply mb-4 px-1 border-2 border-solid border-gray-100 rounded;
}

@tailwind components;

@variants hover {
  .text-shadow-lg {
    text-shadow: 4px 5px theme("colors.gray.300");
  }

  .text-shadow {
    text-shadow: 3px 3px theme("colors.gray.300");
  }
}

@tailwind utilities;
